      /*Home*/
    * {

        padding: 0;
        margin: 0;
      
    }

    body {
        background-color: #222831;
        
    }

    .navbar {
        width: 100%;
        height: 75px;
        margin: auto;

    }

    .icon {

        width: 100%;
        float: left;
        height: 70px;
        
    }

    .main {

        width: 100%;
        background-size: cover;
        height: 109vh;


    }

    .menu {

        width: 400px;
        float: left;
       
        /* height: 70px; */
    }

    ul li {
        list-style: none;
        margin-left: 62px;
        margin-top: 27px;
    }

    li a {
        font-family: Arial;
        font-weight: 100;
        text-decoration: none;
        color: #fff;
    }

    ul {
        align-items: center;
        justify-content: center;
        float: left;
        display: flex;
    }

    li a:hover {
        color: #ff7200;
    }

    .contact_button {

        border: none;
        background: #ff7200;
        width: 160px;
        height: 40px;
        margin-left: 30px;
        margin-top: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    .contact_button:hover {
        transition: .2 ease;
        background-color: #fff;
    }

    .contact_button a {
        text-decoration: none;

    }

    .img {
        border-radius: 50px;
    }

    .logo {
        display: flex;
        align-items: center;
        color: #ff7200;
        font-style: normal;
        padding-left: 20px;
        padding-top: 10px;
        float: left;
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .logo .logo-text {
        margin-left: 5px;
        font-size: 28px;
        font-style: normal;
    }

    


    .now {
        
        position: fixed;
        display: flex;
     
        justify-content: space-between;
        background-color: #222831;
        width: 100%;
        box-shadow: 1px 1px 1px 1px #2b3543;
    }

    .quete {
        display: flex;
        margin-top: 100px;
        margin-left: 130px;

    }

    .quete h1 {
        margin-top: 50px;
        color: #fff;
        font-size: 70px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .quete img {
        margin-left: 170px;
        width: 300px;
        height: 500px;
       border-radius: 30%;
        border-top-left-radius: 30%;
        border-bottom-right-radius: 30%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(181, 180, 180, 0.12) 0px -12px 30px, rgba(172, 169, 169, 0.12) 0px 4px 6px, rgba(185, 181, 181, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      
    }


    .media{
        margin-left: 400px;
        margin-top: -40px;
        margin-bottom: 100px;
    }
    .media a{
        display: inline-flex;
        justify-content: center;
        align-items: center ;
        width: 40px;
        height: 40px;
        margin-left: 20px;
        background: transparent;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 20px;
        color: #f3efef;
        text-decoration: none;
        
    }
    .media a:hover{
        background-color: #ff7200;
        color: #222831;
        transform: scale(1.2);
        transition: all ease-in-out .4s;
        box-shadow: 0 0 20px #f3efef;
     animation: slideleft 1.5s ease forwards;
    }




  /* Project      */

    

    /*WHITE*/
    #them{
        border-radius: 50%;
        width: 20px;
        cursor: pointer;
        margin-top: 27px;
    }
    .white-them{
        color: #c36a05;
        background-color: #fff;
        .media a{
           
            background-color: #31363F;
        }
        .media a:hover{
            background-color: #c36a05;
        }
        .quete h1{
            color: #2f3846;
        }
        h1{
            color: #31363F;
        }
        .white{
            color: #31363F;
        }
        .about-img img ,.aboutme1{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(181, 180, 180, 0.12) 0px -12px 30px, rgba(172, 169, 169, 0.12) 0px 4px 6px, rgba(185, 181, 181, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .aboutme1{
            margin-top: -10px;
            margin-bottom: 30px;
            padding: 20px;
        }
        .technical-bars{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(181, 180, 180, 0.12) 0px -12px 30px, rgba(172, 169, 169, 0.12) 0px 4px 6px, rgba(185, 181, 181, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    }
    
     /*  ABOUT*/


    .about{
        display: grid;
        
        align-items: center;
       grid-template-columns:repeat(2,1fr);
        gap: 1.5rem;
       
    }
    .about-img img {
        margin-top: 140px;
        max-width: 550px;
        width: 350px;
        height: 400px;
        margin-left: 90px;
        margin-right: -70px;
        border-radius: 50%;
        box-shadow: rgba(98, 97, 97, 0.25) 0px 54px 55px, rgba(23, 21, 21, 0.12) 0px -12px 30px, rgba(63, 61, 61, 0.12) 0px 4px 6px, rgba(78, 76, 76, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    }
   
    .about-text h2{
        font-size: 60px;
        color: #fff;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .about-text h4{
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        line-height: 1.7;
        margin: 15px 0 30px;
    }
    .about-text p{
        font-size: 20px;
        color: #fff;
        margin-right: 30px;
        text-align: justify;
        line-height: 1.4;
        margin-top: 4rem;
    }
    
    

    /*SKILL*/


   .skill-section{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   .sub-title{
       text-align: center;
       color: #fff;
       text-decoration:underline;
       text-underline-offset: 8px;
       text-decoration-thickness: 5px;
       font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
   .container1{
    width: 40%;
    height: 500px;
    padding: 75px 90px;
    margin-left: 100px;
   }
   .heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    color: #fff;
    margin-bottom: 50px; 
   }
   .bar{
    font-size: 23px;
    
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   .div{
    display: flex;
   }
   
   .info{
    display: flex;
   }
   .info span{
      color: #fff;
   }
   .percent{
    color: #fff;
    margin-left: 80%;
   }
   
   .technical-bars .bar.info{
    margin-bottom: 5px; 
   }
   .technical-bars .bar.info span{
   
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
   }
   .technical-bars .bar.progress-line{
    position: relative;
   border-radius: 10px;
   width: 100%;
   height: 5px;
   background-color: #2f3846;
   transform: scaleX(0);
   transform-origin: left;
   }
   .technical-bars .bar.progress-line span{
    height: 100%;
    background-color: #2f3846;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    
}
table{
    background-color: #d0c2c2;
    width: 500px;
    height: 10%;
    border-color: #222831;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
th{
    padding: 5px;
    color: #fff;
    font-size: 15px;
   }
.one{
    background-color: #31363F;
}
.two{
    background-color: #31363F;
}


#html {
    background-color: #fff;
    width:75%;
    height: 5px;
    border-radius: 7px;
 }
 #css {
    background-color: #fff;
    width: 65%;
    height: 5px;
    border-radius: 7px;
 }
 #js {
    background-color: #fff;
    width: 45%;
    height: 5px;
    border-radius: 7px;
 }
 #c {
    background-color: #fff;
    width: 70%;
    height: 5px;
    border-radius: 7px;
 }
 .bar{
    margin-top: 30px;
 }





      /*CONTACT*/

.contact-info{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    margin-bottom: 10px;
    background-color: #2f3846;
    border-radius: 10px;
    padding: 5px 8px 2px;
}
.contact-container i{
    font-size: 1.5rem;
    color: #ff7200;
    margin-right: 10px;
}
.contact-title{
    font-size: 20px;
}
.phon-no{
    font-size: small;
    color: #d7cdcd;
}
.contact-inpute input{
    height: 30px;
}
.contact-inpute input,textarea{
    width: 100%;
    background-color:#2f3846;
    color: #f3efef;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: .25rem .5rem .5rem 0;

}
.contact-label{
   font-size: smaller;
   color: #fff;
}
.button{
    background-color:#2f3846;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    text-align: center;
    margin-left: 25%;
    margin-top: 20px;
}
.button .button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #f3efef;
    padding: 10px;
    
}

.button i{

    color: #b5b8be;
    font-size: 16px;
    margin-left: 6px;
}
.button:hover{
    background-color: #ff7200;
}
.button i:hover{
    
    color: #fff;
}
.contact-container{
   
    display: flex;
    margin: 30px;
    margin-top: 60px;
}
.contact-section{
    padding-top: .1px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.section-title{
    color: #fff;
    font-size: 40px;
    display: block;
    width: 100%;
    height: 50;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 150px;
    margin-bottom: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.section-subtitle{
    color: #fff;
    font-size: 25px;
    width: 100%;
    margin-left: 45%;
    margin-top: 30px;
    text-align: center;
}
.c-me{
    
    margin-bottom: 30px;
    margin-left: 10%;
    width: 29%;
    margin-right: 20%;
}
.sub-title,.skill-section{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
form{
width: 35%;
}
footer{
    padding-top: 2rem;

}


/*FOOTER*/


.footer-container{
    row-gap: 3.5rem;
}
.footer-bg{
    background-color:rgba(0, 0, 0, 0.406);
    padding: 2rem 0 3rem;
    height: 420px;
}


.footer-link{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.footer-link li a:hover {
    text-decoration: underline; 
}

.s-link a{
    padding-bottom: 20px;
}
.s-link a:hover{
    text-decoration: underline;
    color: #ff7200; 
}
.footer-social{
    font-size: 1.25rem;
    margin-right: 20px;
    color: #d7cdcd;
}
.f-link{
    margin-left: 40px;
    width: 25%;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.contacts{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: 25%;
    padding-top: 20px;
}
.contacts ul{
    padding-left:50px;
}
.contac{
    text-align: center;
    color: #ff7200;
}
.merge-footer{
    margin-top: 90px;
    display: flex;
    width: 100%;
}
.f-link ul {
   align-items: center;
   padding-left: 60px;
  
}
.s-link-title{
    padding-top: 30px;
    color: #ff7200;
    text-align: center;
}
.social-link{
    padding-left: 100px;
    padding-top: 30px;
  
}
.s-link{
    width: 25%;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.social-link a{
    display: block;
}
.link-title{
    color: #ff7200;
    text-align: center;
    padding-top: 30px;
}
.social-link a{
    text-decoration: none;
}

.footer-copy{
    font-size: 18px;
    text-align: center;
    color: #b5b8be;
    margin-bottom: 10px;
}
.footer-title,.footer-subtitle,.footer-link,.footer-social{
    color:#fff;
}


/*PROJECT active*/
.work__container {
    padding: 2rem;
        width: 80%;
        align-items: center;
        margin-left: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns of equal width */
        grid-template-rows: 1fr 1fr; /* Two rows of equal height */
        gap: 10px; /* Gap between items */
      
    row-gap: 2rem;
   
  }
  .work__img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 0.5rem;
    overflow: hidden;
    display: block;
   }
   .work-btn 
   {
     display: flex;
      gap: 1rem;
      margin-top: 10px;
      justify-content: center;
    }
   .work-btn  a
   {
    background-color: #c36a05;
     border-radius: 6px;
     border:1px solid white;
     padding: .1rem 3rem;
     transition: all ease-in-out .4s;
  }
  .work-btn  a:hover
   {
    background-color: #f0a44d;
     border-radius: 6px;
     border:1px solid white;
     padding: .2rem 1.2rem;
  }
  .work__img img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 100%;
    height: 300px;
    transition: 1s;
  }
  .work__img img:hover {
    transform: scale(1.1);
  }
    /*TOGGLE*/
    .toggler{
        background-color: #f3efef;
        width: 40px;
        height: 40px;
        padding: 6px 2px 0px 6px;
         margin:20px 40px 0px 0px;
        border-radius: 4px;
        visibility:hidden;
     }
     .toggler .row
     {
         display: block;
        width: 32px;
        height: 5px;
        background-color: rgb(14, 1, 1);
        margin-top: 4px;
      }
    .toggler.active .row:nth-child(1){
        transform:translateY(9px) rotate(45deg) ;
    }
    .toggler.active .row:nth-child(2){
      opacity: 0;
    }
    .toggler.active .row:nth-child(3){
        transform:translateY(-8px) rotate(-45deg) ;
    }
     .menu li
     {
         animation: animate .7s ease-in-out 1 forwards;
     }
     @keyframes animate {
        from{
             opacity: 0;
             transform: translate(0,100px);
             filter: blur(33px);
        }
        to{
            opacity: 1;
            transform: 0;
        }
        
     }
  

    @media (max-width:1021px){
        .menu{
            position: absolute;
            top:-1000%;
            left:0;
             grid-template-rows:repeat(2, 1fr); 
             justify-content: center;
            align-items: center;
            display: grid;
            transition: all 1s ease-in-out 1 forwards;
             width: 400vh;
             width: 100%;
             background-color: #000000;
        }
        
        
        .toggler{
          visibility: visible;
          
         
        }
        .menu.active {
            position: absolute;
             top: 100%;

         }
         

    } 
  
    